body {
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: orange;
}

.big {
    font-size: 70px;
}

.mid {
    width: 600px;
}

.n {
    font-family: 'Lobster', cursive;
}

.m {
    font-family: 'Satisfy', cursive;
}

.l {
    font-family: 'Great Vibes', cursive;
}

.i {
    background-color: green;
}

marquee {
    color: yellow;
}

body {
    background-image: url('http://i.stack.imgur.com/kx8MT.gif');
    background-repeat: repeat;
}

a {
    font-size: 70px;
    color: yellow;
}

.li{
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: yellow;
}


.body {
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
